@{
    ViewData["Title"] = "Home Page";
}

 <h1> Series Review</h1>
@foreach(Series s in ViewBag.Series)
{
    <div class="card" style="width: 21rem;">
        <img  class="card-img-top" src="@s.ImagenSerie">
        <div class="card-body">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick = "MostrarTemporadas(@s.IdSerie)" >Temporadas </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick = "MostrarActores(@s.IdSerie)" >Actores </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick = "MostrarMasInfo(@s.IdSerie)">Mas info </button>
        </div>
    </div>
}
      

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="Titulo"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p  id="Informacion"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


